<p><%= @game.current_player_name %>'s turn</p>
<p><%=@game.player_1_name%> vs <%=@game.player_2_name%></p>

<p><%=@game.player_1_name%> has <%=@game.player_1_health%> HP remaining</p>
<p><%=@game.player_2_name%> has <%=@game.player_2_health%> HP remaining</p>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
